 <div class="bg-color c_p">
	<div class="container">
		<div class="row profile-top-bar">
			<ul class="progress-indicator">
            <li class="completed">
                <span class="bubble"></span>
                CHECKOUT
            </li>
            <li class="completed">
                <span class="bubble"></span>
                YOUR DETAILS
            </li>
            <li class="completed">
                <span class="bubble"></span>
                PAYMENT
            </li>
            <li class="completed">
                <span class="bubble"></span>
                CONFIRMATION
            </li>            
        </ul>
		</div>
		<div class="member-title-space">
			<h6> ALREADY A MEMBER?</h6>
		</div>
		<div class="row">
		<div class="col-sm-8">
		<form action="/action_page.php" target="_blank" class="clearfix already">
			<div class="form-group">
				<input type="text" class="form-control input" name="name" placeholder="username">
			</div>
			<div class="form-group">
				<input type="pasword" class="form-control input" name="password" placeholder="password">
			</div>
			<div class="form-group">
				<input type="text" class="form-control input" name="code" placeholder="security code">
			</div>		
			<div class="already-buttons">
				<input type="submit" class="" value="sign in">
				<input type="submit" class="" value="create an account">
			</div>
		</form>
</div>		
		</div>
		
		
	</div><!--conatiner close-->	
</div>	

